<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EmailClassification</display-name>
  	<servlet>
		<servlet-name>Account</servlet-name>
		<servlet-class>com.emailclassification.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Account</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>

  	<servlet>
		<servlet-name>Dataset</servlet-name>
		<servlet-class>com.emailclassification.servlet.DatasetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dataset</servlet-name>
		<url-pattern>/dataset</url-pattern>
	</servlet-mapping>
  

  	<servlet>
		<servlet-name>Obscure</servlet-name>
		<servlet-class>com.emailclassification.servlet.ObscureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Obscure</servlet-name>
		<url-pattern>/obscure</url-pattern>
	</servlet-mapping>

  	<servlet>
		<servlet-name>run</servlet-name>
		<servlet-class>com.emailclassification.servlet.RunServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>run</servlet-name>
		<url-pattern>/run</url-pattern>
	</servlet-mapping>



  	<servlet>
		<servlet-name>mailbox</servlet-name>
		<servlet-class>com.emailclassification.servlet.MailboxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mailbox</servlet-name>
		<url-pattern>/mailbox</url-pattern>
	</servlet-mapping>

  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>